#aatifRoot{
    position: fixed !important;;
    left: 0 !important;
    top:0 !important;
    z-index:2147483647 !important;
    height:100vh !important;
    width:20% !important;
    background-color:white!important;
    color:black !important;
    box-shadow:3px 1px 10px rgba(0,0,0,0.2) !important; 
}
