footer.site-footer .footer-right .carbon p {
    text-align: center;
    font-family: "Courier New",Courier,monospace;
}
footer.site-footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 1.8rem;
    color: #000;
}
